.page-instagram {
	--main-color: var(--accent-1);
}

.page-instagram .info-section {
	--accent-color: var(--main-color);
	--avatar-bg: url('/assets/instagram.svg');
}

.page-instagram .table {
	--highlight-color: var(--main-color);
}