.page-youtube {
	--main-color: var(--accent-2);
}

.page-youtube .info-section {
	--accent-color: var(--main-color);
	--avatar-bg: url('/assets/youtube.svg');
}

.page-youtube .table {
	--highlight-color: var(--main-color);
}

.page-youtube .channel-avg {
	--accent-color: var(--main-color);
}

.top-videos {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1600px;
	margin: auto;
}

@media (max-width: 768px) {
	.top-videos {
		flex-flow: column;
	}
}