.page-youtube {
	--main-color: var(--accent-2);
}

.page-youtube .info-section {
	--accent-color: var(--main-color);
	--avatar-bg: url('/assets/youtube.svg');
}

.page-youtube .table {
	--highlight-color: var(--main-color);
}