<button class="button button--primary">Месяц</button>
<button class="button button--primary">Год</button>
<button class="button button--primary">Все время</button>
<button class="button button--secondary">Перейти на канал</button>
<button class="button button--tertiary">Страна</button>
<button class="button button--tertiary">Доля</button>
<h3 class="title">Динамика аудитории</h3>
<div class="button-group">
  <button class="button button--primary button-group__item">Месяц</button>
  <button class="button button--primary button-group__item">Год</button>
  <button class="button button--primary button-group__item">Все время</button>
</div>