
    <section class="section">
      <div class="section__head">
        <h3 class="section__title">Демография</h3>
        <p class="section__caption">
          Диаграмма иллюстрирует гендерное процентное соотношение аудитории в каждом возрастном диапазоне
        </p>
      </div>
      <div class="section__main">
        <div class="graph-wrapper graph-wrapper--demo">
          <canvas id="demo"></canvas>
          <div class="graph-values">
            <span>13-17</span>
            <span>18-24</span>
            <span>25-34</span>
            <span>35-44</span>
            <span>45-54</span>
            <span>55-64</span>
            <span>65+</span>
          </div>
        </div>
      </div>
    </section>