<section class="info-section">
	<div class="info-section__left">
		<div class="info-section__left-top">
			<div class="info-section__avatar"></div>
			<p class="info-section__last-updated">Обновлено 25 ноября в 20:15</p>
		</div>
		<div class="info-section__left-bottom">
			<p class="info-section__name">Влад Бумага</p>
			<button class="button button--accent-1-inverse info-section__button">Перейти на канал</button>
		</div>
	</div>
	<div class="info-section__right">
		<div class="info-section__title">
			<span class="large">Instagram</span>статистика
		</div>
			<div class="info-section__stats">
				<div class="stats-card">
					<div class="stats-card__icon-wrapper">
						<svg class="stats-card__icon">
							<use xlink:href="./assets/icons.svg#subs"></use>
						</svg>
					</div>
					<div class="stats-card__main">
						<span class="stats-card__number">999 999 999</span>
						<span class="stats-card__text">кол-во подписчиков</span>
					</div>
				</div>
				<div class="stats-card">
					<div class="stats-card__icon-wrapper">
						<svg class ="stats-card__icon">
							<use xlink:href="./assets/icons.svg#category"></use>
						</svg>
					</div>
					<div class="stats-card__main">
						<span class="stats-card__number">юмор, лайфстайл</span>
						<span class="stats-card__text">категории</span>
					</div>
				</div>
				<div class="stats-card">
					<div class="stats-card__icon-wrapper">
						<svg class="stats-card__icon">
							<use xlink:href="./assets/icons.svg#views"></use>
						</svg>
					</div>
					<div class="stats-card__main">
						<span class="stats-card__number">999 999 999</span>
						<span class="stats-card__text">среднее кол-во просмотров</span>
					</div>
				</div>
				<div class="stats-card">
					<div class="stats-card__icon-wrapper">
						<svg class="stats-card__icon">
							<use xlink:href="./assets/icons.svg#comments"></use>
						</svg>
					</div>
					<div class="stats-card__main">
						<span class="stats-card__number">999 999 999</span>
						<span class="stats-card__text">среднее кол-во комментариев</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>