<div class="top-post-card-grid">
	<div class="top-post-card">
		<div class="top-post-card__stats">
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Лайки</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Комментарии</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Сохранения</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Охваты</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
		</div>
	</div>
	<div class="top-post-card">
		<div class="top-post-card__stats">
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Лайки</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Комментарии</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Сохранения</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Охваты</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
		</div>
	</div>
	<div class="top-post-card">
		<div class="top-post-card__stats">
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Лайки</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Комментарии</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Сохранения</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Охваты</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
		</div>
	</div>
	<div class="top-post-card">
		<div class="top-post-card__stats">
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Лайки</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Комментарии</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Сохранения</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Охваты</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
		</div>
	</div>
	<div class="top-post-card">
		<div class="top-post-card__stats">
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Лайки</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Комментарии</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Сохранения</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Охваты</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
		</div>
	</div>
	<div class="top-post-card">
		<div class="top-post-card__stats">
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Лайки</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Комментарии</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Сохранения</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
			<div class="top-post-card__stats-item">
				<span class="top-post-card__stats-name">Охваты</span>
				<span class="top-post-card__stats-number">000 000 000</span>
			</div>
		</div>
	</div>
</div>