.button {
	box-shadow: var(--box-shadow);
	font-family: var(--font-primary);
	padding: 7px 21px;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.button--accent-1 {
	background-color: var(--accent-1);
	color: #FFFFFF;
}

.button--accent-1-inverse {
	font-family: var(--font-primary-bold);
	color: var(--accent-1);
	background-color: #FFFFFF;
}

.button--accent-2 {
	background-color: var(--accent-2);
	color: #FFFFFF;
}

.button--accent-2-inverse {
	font-family: var(--font-primary-bold);
	color: var(--accent-2);
	background-color: #FFFFFF;
}

.button--secondary {
	color: var(--gray);
	background-color: #FFFFFF;
}

.button--sm {
	font-size: 14px;
	line-height: 17px;
}

@media (max-width: 768px) {
	.button {
		padding: 3px 21px;
		font-size: 13px;
		line-height: 15px;
	}
}