.info-section {
	--accent-color: var(--accent-1);
	--avatar-bg: url('/assets/youtube.svg');
	font-family: var(--font-secondary);
	max-width: 1150px;
	margin: auto;
	padding: 0 35px;
	display: flex;
	align-items: flex-start;
}

.info-section__left {
	margin-right: 80px;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}

.info-section__right {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.info-section__avatar {
	box-shadow: var(--box-shadow);
	background-image: var(--avatar-bg);
	background-position: center;
	background-repeat: no-repeat;
	height: 330px;
	width: 330px;
	margin-bottom: 20px;
	border-radius: 40px;
	position: relative;
}

.info-section__avatar img {}

.info-section__last-updated {
	font-family: var(--font-primary);
	color: var(--gray);
	margin-bottom: 34px;
	font-size: 12px;
	line-height: 14px;
	align-self: flex-start;
	margin-left: 20px;
}

.info-section__name {
	color: var(--dark-blue);
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.info-section__title {
	color: var(--dark-blue);
	font-size: 40px;
	margin-bottom: 100px;
}

.info-section__title .large {
	font-size: 160px;
	margin-right: 7px;
}

.info-section__stats {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(2, 1fr);
}

.info-section__stats .stats-card {
	--theme-color: var(--accent-color);
}

@media (max-width: 1100px) {
	.info-section__left {
		margin-right: 50px;
	}

	.info-section__avatar {
		width: 250px;
		height: 250px;
	}

	.info-section__title {
		font-size: 35px;
		margin-bottom: 60px;
	}

	.info-section__title .large {
		font-size: 140px;
		margin-right: 6.125px;
	}

	.info-section__stats {
		grid-gap: 41px;
	}
}

@media (max-width: 992px) {
	.info-section__title {
		font-size: 25px;
	}

	.info-section__title .large {
		font-size: 100px;
		margin-right: 4.37px;
	}
}

@media (max-width: 768px) {
	.info-section__left {
		margin-right: 30px;
	}

	.info-section__title {
		font-size: 25px;
	}

	.info-section__title .large {
		font-size: 80px;
		margin-right: 2px;
	}

	.info-section__stats {
		grid-row-gap: 15px;
		grid-column-gap: 20px;
	}

	.info-section__name {
		margin-bottom: 20px;
	}

	.info-section__button {
		padding: 10px 20px;
		font-size: 14px;
		line-height: 17px;
	}
}

@media (max-width: 700px) {
	.info-section {
		flex-flow: column;
		align-items: center;
		padding: 25px 35px;
	}

	.info-section__left {
		margin-right: 0;
	}

	.info-section__left-bottom {
		width: 100%;
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.info-section__avatar {
		box-shadow: var(--box-shadow-mobile);
	}

	.info-section__last-updated,
	.info-section__name {
		margin-bottom: 20px;
	}

	.info-section__last-updated {
		margin-left: 0;
		text-align: center;
	}

	.info-section__right {
		margin-top: 35px;
	}

	.info-section__title {
		font-size: 24px;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}

	.info-section__title .large {
		font-size: 48px;
		margin-right: 10px;
	}

	.info-section__right {

	}

	.info-section__stats {
		margin-top: 0;
		grid-gap: 40px;
	}
}