.top-post-card {
	box-shadow: var(--box-shadow);
	height: 299px;
	width: 299px;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	/* Temporary code */
	background: #F1F1F1;
}

.top-post-card:hover .top-post-card__stats {
	z-index: 10;
	opacity: 1;
}

.top-post-card__stats {
	background-color: var(--accent-with-opacity);
	padding: 36px 26px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	opacity: 0;
	z-index: -1;
	transition: opacity var(--animation), transform var(--animation);
}

.top-post-card__stats-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.top-post-card__stats-name {
	font-family: var(--font-primary);
	color: #FFFFFF;
	font-size: 14px;
	line-height: 14px;
}

.top-post-card__stats-number {
	font-family: var(--font-secondary);
	color: #000000;
	font-size: 30px;
	line-height: 38px;
}

@media (max-width: 992px) {
	.top-post-card {
		width: 239px;
		height: 239px;
	}
}

@media (max-width: 576px) {
	.top-post-card {
		height: 164px;
		width: 344px;
		box-shadow: var(--box-shadow-mobile);
	}

	.top-post-card__stats {
		border-radius: 20px;
		padding: 20px;
		height: 164px;
		width: 172px;
		left: auto;
		right: 0;
		z-index: 1;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	.top-post-card__stats-name {
		font-size: 11px;
		line-height: 13px;
	}

	.top-post-card__stats-number {
		font-size: 14px;
		line-height: 18px;
	}

	.top-post-card__img {
		width: 195px;
		height: 164px;
	}
}